<div class="posts">
    <% @posts.each do |post| %>
        <section class="post">
            <!-- post view -->
            <div class="user">
                <div class="avatar">
                    <% if post.user.avatar.attached? %>
                        <%= link_to user_path(post.user) do %>
                            <%= image_tag post.user.avatar %>
                        <% end %>
                    <% end %>
                </div>
                <%# <div class="avatar"> %>
                    <%# image_tag "/assets/curiosity_profile.png" %>
                    <%# <img src="/assets/curiosity_profile.png"> %>
                <%# </div> %>
                <%= link_to post.user.username, user_path(post.user), class: 'username' %>
            </div>
            <%= image_tag post.image, class: 'main-image' %>
            <div class="description">
                <div class="icon">
                    <i class="fa fa-heart-o" style="font-size:20px"></i>
                    <i class="fa fa-comment-o" style="font-size:22px; margin-left: 10px;"></i>
                </div>
                <% post.description.to_s.split(' ').each do |word| %>
                    <% if word.start_with?('#') %>
                        <%= link_to word, search_path(query: word) %>
                    <% else %>
                        <%= word %>
                    <% end %>
                <% end %>
            </div>
        </section>
    <% end %>
    <div class="homepage">
        <span class="pagination">
            <%= paginate @posts %>
        </span>
    </div>
</div>